numpy
opencv-python
torch
soundfile
gitpython
customtkinter
pillow
pandas
psutil
pyyaml
tqdm
seaborn
scikit-learn
python-dotenv
mediapipe==0.10.35
ultralytics
pyserial
requests
websocket-client
ipython
